@import "tailwindcss";
.btn {
    @apply border rounded-2xl shadow-md px-3 py-1 text-gray-500 font-medium sm:px-1.5 hover:bg-gray-500 hover:text-white hover:border-transparent duration-200 focus:outline-none cursor-pointer focus:ring-2 focus:ring-gray-800 focus:ring-offset-1
}